* {
 margin: 0;
 padding: 0;
}

body{
    background: gray;
}

header, .main, footer{
    background: darksalmon;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    margin: 20px auto;
  
}

header div{
    float: ;
}

header nav{
    background: #5294EE;
    overflow: hidden;

}

header nav ul {
    list-style: none;
}

/* pa q se apilen a la izquierda */

header nav ul li{
    float: left;

}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;

}

header nav ul li a:hover {
   background: lightgreen;

}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
    background: lemonchiffon;

}

.main .articles article {
    padding: 20px;
    background: lightgrey;
    margin-bottom: 20px;

}


aside{
    width: 30%;
    background: lightcoral;
    float: left;
    padding: 20 px;
    box-sizing: border-box;
    padding: 20px;
}


footer {
    background: black;
    width: 80%;
    color: white;
    clear:both;
    padding: 30px 0px 30px 0px;
    text-align: center;

}



/*

formularios
form{
    width: 25%;
    border: 1px solid #000;
    background: darkgray;
    margin: 20px;
    padding: 20px;
    
}

label {
    font-size: 12px;
    display: block;
    width: 100%;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

input :focus, textarea{
    border: 3px solid cyan;

}

input[type="submit"]{
    margin-bottom: 0;
    background: darkcyan;
    color: white;
    border: none;

}

input[type="submit"]:hover{
    background: blue;
    cursor: progress;
}





TABLAS



table{
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 25px;
   

}

table td{
    border: 1px solid #000;
    padding: 20px;

 }

table tr:hover{
    background: #ccc;
  
}

table td:hover{
    background: #000;
    color: #fff;

  
}


MENU

.menu {
    width: 100%;
    background:black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
    

}

.menu li {
    display:inline-block;

}

.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    }

.menu li a:hover{
    background: #ccc;
    color:#000;
    


}


IMAGENES

div{
    background: #ccc;
    width: 100%;

}

img {
    height: ;
    width:300px;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 25px solid red;
}


links botons


a{
    font-size: 30px;
    text-decoration: none;
    margin: 10px 20px;
    display: inline-block;
   background: cadetblue;
    color: black;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px blue;
}

a:hover{
    box-shadow: 0px 2px 0px black;
    background: blueviolet;
}





a { 
    font-size: 30px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

a:link {
    color:orange;

}

a:hover{
    text-decoration:underline;
    background: black;
    color:#fff;
   
}

a:active{
  background: blue;  
}

a:visited{
color: red;
}



 texto y tipografias


 h1{
    font-weight: bold;
    text-align: center;
}




p{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight:normal;
    text-align: justify;
    line-height: 30px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: normal;
    text-shadow: 5px 5px 5px burlywood;
}


CAJASSSSSSSSSSSSSSSS

.cajapadre  {
    width: 500px;
    height: 500px;
    background: black;
    position: absolute;
}

div{
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    color: white;
    font-size: 30px;
    float: right ;
}

.caja  {
position: static; 
top:  100px;
bottom: 0;
right: 0;
left: 500px;
}

*/

kj